<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Typist.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Typist.Properties.Settings>
            <setting name="WindowX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IsMaximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TypingFontName" serializeAs="String">
                <value />
            </setting>
            <setting name="TypingFontSize" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TypingFontUnit" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TypingFontStyle" serializeAs="String">
                <value>0</value>
            </setting>
        </Typist.Properties.Settings>
    </userSettings>
</configuration>